body {
  background-color: #3b4664;
  padding: 0;
  margin: 0;
  transition: background .5s ease;
}

body * {
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  width: 430px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
}

.calculator--header {
  width: 100%;
  height: 50px;
  ;
  display: flex;
  justify-content: space-between;
  font-family: 'Didact Gothic', sans-serif;
  color: white;
  margin-bottom: 20px;
}

.calculator--header>h1, h4 {
  position: relative;
}

.calculator--header h1 {
  top: 20px;
  font-size: 1.7rem;
  font-weight: 800;
  align-self: flex-end;
}

.header--theme--buttons h4 {
  top: 10px;
  font-size: .8rem;
  font-weight: 900;
}

.header--theme--buttons {
  width: 137px;
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.back--theme--buttons {
  width: 70px;
  height: 20px;
  display: flex;
  position: relative;
  right: 5px;
  background-color: #252d44;
  border-radius: 20px 20px 20px 20px;
  z-index: 1;
}

.theme--buttons input {
  margin: auto;
  display: none;
  z-index: 3;
}

.theme--buttons {
  display: flex;
  flex-wrap: wrap;
  height: 43px;
  margin: 0;
  font-family: 'Lato', Regular;
  font-weight: 600;
  font-size: .78rem;
  list-style: none;
}

.theme--buttons li {
  width: 29%;
  text-align: center;
  cursor: auto;
}

.theme--buttons li label:after {
  content: " ";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  margin-top: 7px;
  margin-left: 2px;
  border-radius: 100%;
  background-color: #252d44;
  cursor: pointer;
  transition: all .3s;
  z-index: 3;
}

.theme--buttons li input:checked~label:after {
  background-color: #d43e26;
}

.input--show input {
  width: 100%;
  height: 5.8rem;
  border-radius: 7px;
  outline: none;
  border: none;
  text-align: right;
  color: white;
  font-size: 2.7rem;
  font-family: 'Lato', Regular;
  font-weight: 1000;
  background-color: #181f32;
}

/* seccion de numeros */
.numbers--content {
  width: 100%;
  height: 345px;
  margin-top: 20px;
  background: #252d44;
  border-radius: 7px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "g h i del"
    "d e f plus"
    "a b c less"
    "dot j btwn by"
    "res res eq eq";
  grid-gap: 15px;
  grid-column-gap: 20px;
  padding: 20px;
}

.numbers--content button {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 7px;
  border-bottom: 4px inset #aca39c;
  font-family: 'Lato', Regular;
  font-size: 1.3rem;
  font-weight: 600;
  color: #4a4c58;
  cursor: pointer;
}

.numbers--content button:hover {
  -webkit-filter: invert(50%);
  filter: invert(15%);
}

.numbers--content button:nth-child(1) {
  grid-area: a;
}

.numbers--content button:nth-child(2) {
  grid-area: b;
}

.numbers--content button:nth-child(3) {
  grid-area: c;
}

.numbers--content button:nth-child(4) {
  grid-area: d;
}

.numbers--content button:nth-child(5) {
  grid-area: e;
}

.numbers--content button:nth-child(6) {
  grid-area: f;
}

.numbers--content button:nth-child(7) {
  grid-area: g;
}

.numbers--content button:nth-child(8) {
  grid-area: h;
}

.numbers--content button:nth-child(9) {
  grid-area: i;
}

.numbers--content button:nth-child(10) {
  grid-area: j;
}

/* operations */
.numbers--content button:nth-child(11) {
  grid-area: dot;
}

.numbers--content button:nth-child(12) {
  grid-area: plus;
}

.numbers--content button:nth-child(13) {
  grid-area: less;
}

.numbers--content button:nth-child(14) {
  grid-area: by;
}

.numbers--content button:nth-child(15) {
  grid-area: btwn;
}

.numbers--content button:nth-child(16) {
  grid-area: del;
}

.numbers--content button:nth-child(17) {
  grid-area: res;
}

.numbers--content button:nth-child(18) {
  grid-area: eq;
  background-color: #d13f30;
  border-bottom: 4px inset #8d2820;
  color: white;
}

/* extra styles */
.numbers--content button:nth-child(16), .numbers--content button:nth-child(17) {
  font-size: .9rem;
  background-color: #647299;
  border-bottom: 4px inset #434d69;
  color: #fbfbfb;
}

/* Credits */
footer h3 {
  width: 100%;
  position: relative;
  text-align: right;
  font-family: 'Didact Gothic', sans-serif;
  font-size: .9rem;
  color: white;
  right: 20px;
}
